.cart-badge{
    border-radius: 50%;
    min-width: 25px;
    min-height: 25px;
    text-align: center;
    font-size: 1em;
    background: cornflowerblue;
    display: block;
    position: absolute;
    color: white;
    top: -12px;
    right: -12px;
}